//* CSS IMPORTS */

@import "main-lg.css";
@import "main-md.css";
@import "main-sm.css";
@import "main-xs.css";

/*
    FONT USAGE
    font-family: 'Staatliches', cursive;
    font-family: 'Montserrat', sans-serif;
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}


/* GLOBAL */

.float-clear::after {
    content: '';
    display: block;
    clear: both;
}

.line::after {
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    background-color: rgb(0, 123, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

h1 {
    font-size: 50px;
    font-family: 'Staatliches', cursive;
}

p {
    font-size: 18px;
}


/* CONTENT */

#main-logo {
    width: 150px;
}

#main-container {
    padding: 30px;
}

#naslov {
    padding: 10px 400px;
    margin-bottom: 20px;
}

#upper-content {
    margin-bottom: 30px;
}

.artikal {
    width: calc(33.3% - 30px);
    height: 399px;
    background-color: red;
    float: left;
    margin: 10px 15px;
    position: relative;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#dugme {
    border: 2px solid rgb(77, 38, 38);
    padding: 5px;
    margin-top: 40px;
}

.zaSlike {
    height: 30px;
    text-align: center;
    padding: 10px 0;
    display: none;
}

.zaSlike span {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.all-text {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: .5s;
    opacity: 0.7;
}

.all-text {
    color: white;
}

.text-naslov {
    padding: 10px 250px 10px 10px;
}

.count {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
}

.text-content {
    margin-top: 40px;
    padding: 20px;
    text-align: left;
}

.footer-content {
    margin-top: 50px;
}

.footer-left {
    float: left;
    width: 50%;
}

.footer-right {
    float: left;
    width: 50%;
    color: rgb(201, 137, 19);
    font-size: 20px;
    padding-left: 80px;
}

.artikal:hover .all-text {
    left: 0%;
}
