/* CSS IMPORTS */
@import "main-lg.css";
@import "main-md.css";
@import "main-sm.css";
@import "main-xs.css";



/*
    FONT USAGE
    font-family: 'Staatliches', cursive;
    font-family: 'Montserrat', sans-serif;
*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
}

/* GLOBAL */
.float-clear::after{
    content: '';
    display: block;
    clear: both;
}


/* CONTENT */
#main-logo{
    width: 150px;
}